@media (min-width: 768px) {
	/* .spoiler-questions-body .forms{display:table;width:100%;}
 .spoiler-questions-body .forms .form-auth{display:table-cell;width:50%;}
 .spoiler-questions-body .forms .form-reg{display:table-cell;width:50%;}*/
  .spoiler-questions-body .forms{display:flex;}
  .spoiler-questions-body .forms .form-auth{flex-grow:1;width:48%;position:relative;margin-right:4%;background:#f8f8f8;padding:15px 0 15px 15px;}
   .spoiler-questions-body .forms .form-reg{flex-shrink:1;width:48%;position:relative;background:#f8f8f8;padding:15px 0 15px 15px;}

}
@media (max-width: 767px) {
 .spoiler-questions-body .forms .form-auth{background:#f8f8f8;margin-bottom:30px;}
 .spoiler-questions-body .forms .form-reg{background:#f8f8f8;}
} 
 .add-questions{margin:20px 0;}
 .spoiler-questions-body {display:none;padding-top:40px;}
 .spoiler_links {cursor:pointer;}
.add-questions .spoiler{
	border:1px solid #7c7c7c;
	box-shadow:1px 2px 1px 1px #e2e2e2;
	padding:5px;
	display:inline-block;
}
 
.add-questions .spoiler-input{
	padding:5px 40px;
	color:#FFF;
	background:#dbbfb9 url(images/button.jpg);
	text-decoration:none;
	font-family:"PG Isadora Cyr Pro",Arial,regular;
	font-size:18px;
	min-height:30px;
	line-height:20px;
	cursor:pointer;
}



#questions-body .title{
	width:50%;
}
#questions-body .success{color:green;font-size:14px;font-family:"ProximaNova",Arial,sans-serif;margin-top:10px;}
#questions-body .spoiler_body p.add-check-error{color:red;}
#questions-body .spoiler_body p.registration-check-error{color:red;}

.tabs a.spoiler{
	display:inline-block;
	padding:10px;
	color:#FFF;
	background:#603a2f;
	text-transform:uppercase;
	text-decoration:none;
}
 .auth-error{
	font-size:18px;
	color:#994d4d;
	font-family:"ProximaNova",Arial,sans-serif;
	text-align:left;margin-bottom:20px;
}
#auth-title,#register-title{color:#000000;font-size:14px;font-family:"ProximaNova",Arial,sans-serif;text-align:left;}


 #auth-check-error,#registration-check-error{color:#994d4d;text-align:left;}
 
 
 #add_question{text-align:left;}


#add_question #recaptcha-question-0{
	margin-top:20px;
}

#add_question p{color:#6c727d;font-size:14px;font-family:"ProximaNova",Arial,sans-serif;}
#add_question p.example{color:#b0b3bb;font-size:14px;font-family:"ProximaNova",Arial,sans-serif;}
#add_question p.count{font-style:italic;color:#c2c6cb;font-size:14px;font-family:"ProximaNova",Arial,sans-serif;margin-bottom:20px;}
#add_question input[type="text"]{border:1px solid #e2e5e9;height:34px;width:100%;margin-bottom:20px;padding:5px;font-family:"ProximaNovaLight",Arial,sans-serif;color:#000000;font-size:13px;}
#add_question textarea{border:1px solid #e2e5e9;width:100%;padding:5px;font-family:"ProximaNovaLight",Arial,sans-serif;color:#000000;font-size:13px;height:190px;}
#add_question input[type="radio"]{margin-right:7px;float:left;}
#add_question span.radio-label{margin-right:15px;font-family:"ProximaNovaLight",Arial,sans-serif;color:#000000;font-size:13px;}
#add_question span.radio-label{margin-right:15px;font-family:"ProximaNovaLight",Arial,sans-serif;color:#000000;font-size:13px;}
#add_question .radio{float:none;line-height:14px;display:inline-block;margin-bottom:20px;}
#add_question input[type="submit"]{background:#FFF;color:#767676;font-size:14px;font-family:"ProximaNovaLight",Arial,sans-serif;width:170px;border-radius:5px;border:1px solid #c8c8c8;box-shadow:1px 2px 2px 1px #dedede;margin-top:20px;}
#add_question #reset-form{border:0;color:#c2c6cb;font-family:"ProximaNovaLight",Arial,sans-serif;font-size:14px;text-decoration:underline;margin-left:15px;background:#FFF;}
.spoiler-questions-body .add-check-error{text-align:left;color:#994d4d;font-size:14px;font-family:"ProximaNova",Arial,sans-serif;}
 #auth_question-check-error,#registration_question-check-error{color:#994d4d;text-align:left;}
 
 
  #add_question .bxhtmled-top-bar-wrap .bxhtmled-top-bar-btn,#add_question .bxhtmled-top-bar-wrap .bxhtmled-top-bar-select,#add_question .bxhtmled-top-bar-wrap .bxhtmled-button-fontsize-wrap
{
	display:none;
}
#add_question .bxhtmled-top-bar-wrap .bxhtmled-button-bold
{
	display:inline-block;
}
#add_question .bxhtmled-top-bar-wrap .bxhtmled-button-italic
{
	display:inline-block;
}
#add_question .bxhtmled-top-bar-wrap .bxhtmled-button-underline
{
	display:inline-block;
}
#add_question .bxhtmled-top-bar-wrap .bxhtmled-button-strike
{
	display:inline-block;
}
#add_question .bxhtmled-top-bar-wrap .bxhtmled-button-remove-format
{
	display:inline-block;
}
#add_question .bxhtmled-top-bar-wrap .bxhtmled-top-bar-color
{
	display:inline-block;
}
#add_question .bxhtmled-top-bar-wrap .bxhtmled-button-ordered-list
{
	display:inline-block;
}
#add_question .bxhtmled-top-bar-wrap .bxhtmled-button-unordered-list
{
	display:inline-block;
}
#add_question .bxhtmled-top-bar-wrap .bxhtmled-button-align-left
{
	display:inline-block;
}
#add_question .bxhtmled-top-bar-wrap .bxhtmled-button-quote
{
	display:inline-block;
}
#add_question .bxhtmled-iframe-cnt
{
	overflow:hidden!important;
}
#add_question .feed-add-post-text
{
	padding-left:0;
	padding-right:0;
}
#add_question #question-editor
{
	width:50%;
	display:block;
}
.spoiler-questions-body .reason-title{
	font-family: "ProximaNova", Arial, sans-serif;
  	color: #303030;
  	font-size:16px;
  	margin-bottom:0px;
  	text-align:center;
}
.spoiler-questions-body .reason-text{
	font-family: "ProximaNova", Arial, sans-serif;
  	color: #303030;
  	font-size:14px;
  	margin-bottom:8px;
  	text-align:center;
}
.spoiler-questions-body .not-ban-error {
  font-size: 18px;
  font-family: "ProximaNova", Arial, sans-serif;
  color: #994d4d;
  text-align:center;
}

div.bx-auth-reg input.bx-auth-input {vertical-align:middle;}
div.bx-auth-reg span.bx-auth-secure {background-color:#FFFAE3; border:1px solid #DEDBC8; padding:2px; display:inline-block; vertical-align:middle;}
div.bx-auth-reg div.bx-auth-secure-icon {background-image:url(images/sec.png); background-repeat:no-repeat; background-position:center; width:19px; height:18px;}
div.bx-auth-reg div.bx-auth-secure-unlock {background-image:url(images/sec-unlocked.png);}

@media (max-width: 767px) { 

	#registration_question input[type="submit"]{margin:0 auto;display:block;}
	#registration_question .form-group{margin: 0 auto 5px auto;width:230px;display:block;}
}
@media (min-width: 768px) {
	#registration_question .captcha img{display:inline-block;margin-right:10px;width:35%;}
	#registration_question .captcha input[type="text"]{height:42px;width:60%;display:inline;float:right;}
	#registration_question .form-group{margin-bottom:15px;display:inline-block;}
}


#registration_question{text-align:left;}
#registration_question p{margin-bottom:3px;text-align:left;color:#6c727d;font-family:"ProximaNovaLight",Arial,sans-serif;font-size:12px;}
#registration_question input[type="text"],#registration_question input[type="password"]{width:230px;color:#303030;font-size:12px;font-family:"ProximaNovaLight",Arial,sans-serif;border:1px solid #e2e5e9;padding:10px;margin-right:20px;}
#registration_question .form-group{}
#registration_question .form-group p{margin-bottom:3px;text-align:left;color:#6c727d;font-size:12px;font-family:"ProximaNovaLight",Arial,sans-serif;}
#registration_question .form-group a{float:right;color:#6c727d;font-size:12px;font-family:"ProximaNovaLight",Arial,sans-serif;font-weight:lighter;}
#registration_question .checkbox{text-align:left;margin-top:20px;line-height:13px;}
#registration_question .checkbox input[type="checkbox"]{margin-right:10px;float:left;}
#registration_question .checkbox label{color:#303030;font-size:12px;font-family:"ProximaNovaLight",Arial,sans-serif;clear:both;}
#registration_question input[type="submit"]{background:#FFF;color:#767676;font-size:14px;font-family:"ProximaNovaLight",Arial,sans-serif;width:170px;height:30px;line-height:30px;border-radius:5px;border:1px solid #c8c8c8;box-shadow:1px 2px 2px 1px #dedede;margin-top:20px;}
#registration_question .captcha{background:#efeded;padding:10px;margin:10px 0;width:100%;position:relative;}
#registration_question .captcha .captcha-title{color:#6c727d;font-size:12px;font-family:"ProximaNovaLight",Arial,sans-serif;}
#registration_question .captcha .captcha-title-2{color:#303030;font-size:12px;font-family:"ProximaNovaLight",Arial,sans-serif;font-weight:lighter;}
#registration_question .captcha img{display:inline-block;margin-right:10px;width:35%;height:40px;}
#registration_question .captcha input[type="text"]{height:42px;width:60%;display:inline;float:right;margin-right:0;}