div.bx-auth-reg input.bx-auth-input {vertical-align:middle;}
div.bx-auth-reg span.bx-auth-secure {background-color:#FFFAE3; border:1px solid #DEDBC8; padding:2px; display:inline-block; vertical-align:middle;}
div.bx-auth-reg div.bx-auth-secure-icon {background-image:url(images/sec.png); background-repeat:no-repeat; background-position:center; width:19px; height:18px;}
div.bx-auth-reg div.bx-auth-secure-unlock {background-image:url(images/sec-unlocked.png);}

@media (max-width: 767px) { 

	#registration_anonymous input[type="submit"]{margin:0 auto;display:block;}
	#registration_anonymous .form-group{margin: 0 auto 5px auto;width:230px;display:block;}
}
@media (min-width: 768px) {
	#registration_anonymous .captcha img{display:inline-block;margin-right:10px;width:35%;}
	#registration_anonymous .captcha input[type="text"]{height:42px;width:60%;display:inline;float:right;}
	#registration_anonymous .form-group{margin-bottom:15px;display:inline-block;}
}


#registration_anonymous{text-align:left;}
#registration_anonymous p{margin-bottom:3px;text-align:left;color:#6c727d;font-family:"ProximaNovaLight",Arial,sans-serif;font-size:12px;}
#registration_anonymous input[type="text"],#registration_anonymous input[type="password"]{width:230px;color:#303030;font-size:12px;font-family:"ProximaNovaLight",Arial,sans-serif;border:1px solid #e2e5e9;padding:10px;margin-right:20px;}
#registration_anonymous .form-group{}
#registration_anonymous .form-group p{margin-bottom:3px;text-align:left;color:#6c727d;font-size:12px;font-family:"ProximaNovaLight",Arial,sans-serif;}
#registration_anonymous .form-group a{float:right;color:#6c727d;font-size:12px;font-family:"ProximaNovaLight",Arial,sans-serif;font-weight:lighter;}
#registration_anonymous .checkbox{text-align:left;margin-top:20px;line-height:13px;}
#registration_anonymous .checkbox input[type="checkbox"]{margin-right:10px;float:left;}
#registration_anonymous .checkbox label{color:#303030;font-size:12px;font-family:"ProximaNovaLight",Arial,sans-serif;clear:both;}
#registration_anonymous input[type="submit"]{background:#FFF;color:#767676;font-size:14px;font-family:"ProximaNovaLight",Arial,sans-serif;width:170px;height:30px;line-height:30px;border-radius:5px;border:1px solid #c8c8c8;box-shadow:1px 2px 2px 1px #dedede;margin-top:15px;}
#registration_anonymous .captcha{background:#efeded;padding:15px;margin:10px 0 0 0;position:relative;display:inline-block;}
#registration_anonymous .captcha .captcha-title{color:#6c727d;font-size:12px;font-family:"ProximaNovaLight",Arial,sans-serif;margin-bottom:10px;}
#registration_anonymous .captcha .captcha-title-2{color:#303030;font-size:12px;font-family:"ProximaNovaLight",Arial,sans-serif;font-weight:lighter;}
#registration_anonymous .captcha img{display:inline-block;margin-right:10px;width:110px;height:40px;}
#registration_anonymous .captcha input[type="text"]{height:42px;width:230px;display:inline;float:none;margin-right:0;}
.bx-auth-reg-anonymous .bx-auth-lbl {
	color: #6c727d;
	font-family: "ProximaNovaLight", Arial, sans-serif;
	font-size: 12px;
	margin: 0 0 15px 0;
	text-align: center;
	position: relative;
	overflow: hidden;
}

.bx-auth-reg-anonymous .bx-auth-lbl .soc-text {
	display: inline-block;
}
.bx-auth-reg-anonymous .bx-auth-lbl .soc-text:before, .bx-auth-reg-anonymous .bx-auth-lbl .soc-text:after
	{
	content: '';
	position: absolute;
	width: 100%;
	border-top: 1px solid #e2e5e9;
	margin-top: .6em;
}
.bx-auth-reg-anonymous .bx-auth-lbl .soc-text:before {
	margin-left: -102%;
}

.bx-auth-reg-anonymous .bx-auth-lbl .soc-text:after {
	margin-left: 2%;
}
#registration_anonymous p.anonym_registration_error
{
	  color: #994d4d;
  text-align: left;
}