#checkout {
    @include flexbox();
    align-items: flex-start;
    align-content: stretch;
    .checkout-step {
        @include flex(1 1 100%);
    }
    .checkout-result {
        @include flex(1 0 370px);
        margin-left: 20px;
        border: 1px solid #e5e5e5;
        padding: 10px;
        font: bold 20px/1.1 $font-bold;
        span {
            font-size: 16px;
            line-height: 1;
            font-weight: 300;
        }
        &__top {
            text-align: center;
            margin-bottom: 25px;
        }
        &__suma {
            border: none;
            width: 100%;
            td {
                padding: 1px;
                vertical-align: bottom;
                &.suma-value {
                    text-align: right;
                }
            }
        }
    }
}

.checkout-step {
    &__item {
        margin-bottom: 10px;
        &--complete {
            .checkout-step__heading {
                a {
                    display: block;
                }
            }
        }
        &--open {
            .checkout-step__body {
                display: block;
            }
        }
    }
    &__heading {
        border: 1px solid $text-color;
        background: #e5e5e5;
        padding: 10px 15px;
        font-size: 20px;
        font-weight: bold;
        span {
            float: left;
            width: 28px;
            height: 28px;
            border: 2px solid $text-color;
            border-radius: 50%;
            font-size: 15px;
            font-weight: bold;
            display: block;
            text-align: center;
            padding: 2px;
            margin-right: 15px;
        }
        a {
            display: none;
            float: right;
            margin-top: 5px;
            font-size: 15px;
            line-height: 1.1;
            font-weight: normal;
            border-bottom: 1px dotted $second-color;
            color: $second-color;
            text-decoration: none !important;
            &:hover {
                border-color: transparent;
            }
        }
    }
    &__body {
        padding: 20px 0;
        display: none;
        .btn-default {
            float: left;
            margin-left: 0;
        }
        .body__info {
            font-size: 18px;
            color: #878787;
            margin: 0 0 10px 0;
        }
        .body_inner {
            padding: 0 7%;
        }
        .form-info {
            margin-bottom: 40px;
        }
    }
    .cart-table {
        width: 100%;
        table {
            border: none;
            tr {
                th {
                    background: none;
                    text-align: center;
                    font-size: 17px;
                    color: #878787;
                    font-weight: bold;
                    border: none;
                    padding: 5px;
                    &.th-product {
                        text-align: left;
                    }
                }
                td {
                    .product-info {
                        .img {
                            img {
                                width: 90px;
                            }
                        }
                        .name {
                            a {
                                font-size: 18px;
                            }
                        }
                        .prop {
                            .prop__item {
                                .name {
                                    font-size: 14px;
                                }
                                .value {
                                    >span {
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                    }
                    .item__count {
                        font-size: 16px;
                    }
                }
            }
        }
        .item__price {
            >span {
                &.new {
                    font-size: 16px;
                    bottom: 0;
                }
            }
        }
    }
}

.checkout-radio-list {
    margin: 10px 0 20px 0;
    .item {
        label {
            cursor: pointer;
            margin: 0;
            font-weight: 300;
            font-size: 16px;
            b {
                font-size: 17px;
            }
            &:hover {
                color: $second-color;
            }
        }
    }
}

.delivary__info {
    min-height: 150px;
    border: 1px solid $text-color;
    border-radius: 3px;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    .info__heading {
        margin-bottom: 10px;
        font-size: 17px;
        font-weight: bold;
    }
}

.ps_logo {
    font-size: 16px;
    text-align: center;
    padding: 15px 0;
    .pay_name {
        font-size: 18px;
    }
    img {
        margin: 10px 0;
    }
}

.sale_order_full_table {
    a {
        font-size: 18px;
        display: inline-block;
        margin: 10px 0 10px 20px;
        background: $primary-color;
        color: #fff;
        border: 1px solid $primary-color;
        padding: 7px 20px;
        border-radius: 6px;
        transition: .3s;
        &:hover {
            background: darken($primary-color, 10%);
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 992px) {
    #checkout {
        .checkout-result {
            @include flex(1 0 220px);
            font-size: 14px;
            span {
                font-size: 13px;
            }
        }
    }
    .checkout-step {
        &__heading {
            font-size: 16px;
            line-height: 28px;
            span {
                line-height: 1.4;
            }
        }
        &__body {
            .body__info {
                font-size: 16px;
            }
        }
        .cart-table {
            table {
                tr {
                    th {
                        font-size: 14px;
                    }
                    td {
                        .product-info {
                            .img {
                                img {
                                    width: 60px;
                                }
                            }
                            .name {
                                a {
                                    font-size: 15px;
                                }
                            }
                            .prop {
                                .prop__item {
                                    .name {
                                        font-size: 12px;
                                    }
                                    .value {
                                        >span {
                                            font-size: 12px;
                                        }
                                        >img {
                                            max-width: 22px;
                                        }
                                    }
                                }
                            }
                        }
                        .item__count {
                            font-size: 14px;
                        }
                    }
                }
            }
            .item__price {
                >span {
                    &.new {
                        font-size: 14px;
                        bottom: 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #checkout {
        display: block;
        .checkout-step {
            width: 100%;
            margin-bottom: 40px;
            .cart-table {
                .item__count {
                    text-align: left;
                }
                .item__price {
                    text-align: left;
                }
            }
            &__body {
                .btn-default {
                    float: none;
                    margin: 0 auto 15px auto;
                }
                .body__info {
                    margin: 0 auto 15px auto;
                }
            }
        }
        .checkout-result {
            width: 100%;
            max-width: 370px;
            margin: 0;
        }
    }
}