#sl {
  margin: 0 0 35px 0;
  .slider {
    &:not(.slick-slider) {
      .slider__slide:not(:first-child) {
        display: none;
      }
    }
  }
  .slick-arrow {
    &.slick-prev {
      left: 10px;
    }
    &.slick-next {
      right: 10px;
    }
  }
  .slick-dots {
    position: absolute;
    bottom: 15px;
    left: 15px;
    z-index: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      margin: 0 5px 0 0;
      button {
        background: none;
        border: 4px solid #fff;
        border-radius: 50%;
        padding: 0;
        width: 14px;
        height: 14px;
        display: inline-block;
        text-indent: -999em;
        &:hover {
          background: $primary-color;
        }
      }
      &.slick-active {
        button {
          background: #fff;
          cursor: default;
        }
      }
    }
  }
}

#advants {
  margin-bottom: 45px;
  .advants__list {
    margin-bottom: 40px;
    .item {
      width: 20%;
      border: 1px solid #e5e5e5;
      float: left;
      margin: -1px 0 0 -1px;
      font-weight: 300;
      text-align: center;
      .icons {
        margin-bottom: 10px;
        height: 60px;
        @include flexbox();
        align-items: center;
        justify-content: center;

        .icon {
          margin: 0 5px;
          display: inline-block;
          text-indent: -9999em;
          background: url(../images/sprite.png) no-repeat;
          &-advant1 {
            background-position: 0 -36px;
            width: 48px;
            height: 50px;
          }
          &-advant2 {
            background-position: -51px -42px;
            width: 50px;
            height: 36px;
          }
          &-advant3 {
            background-position: -103px -39px;
            width: 38px;
            height: 46px;
          }
          &-advant4 {
            background-position: -145px -44px;
            width: 50px;
            height: 40px;
          }
          &-advant5 {
            background-position: -199px -37px;
            width: 40px;
            height: 47px;
          }
          &-advant6 {
            background-position: -242px -35px;
            width: 48px;
            height: 50px;
          }

        }
      }
      .name {
        font-size: 20px;
        line-height: 1.1;
        font-weight: bold;
        margin: 0 0 10px 0;
      }
      .info {
        font-size: 16px;
        margin: 0 0 10px 0;
      }
      .short {
        font-size: 14px;
      }

      > a {
        display: block;
        height: 270px;
        padding: 10px 15px;
        color: $text-color;
        text-decoration: none;
        transition: background-color 0.2s ease-in-out;
        &:hover {
          background: $second-color;
          color: #fff;
          text-decoration: none;
          .icons {
            .icon {
              &-advant1 {
                background-position: 0 -87px;
              }
              &-advant2 {
                background-position: -51px -93px;
              }
              &-advant3 {
                background-position: -103px -90px;
              }
              &-advant4 {
                background-position: -145px -95px;
              }
              &-advant5 {
                background-position: -199px -88px;
              }
              &-advant6 {
                background-position: -242px -86px;
              }
            }
          }
        }
      }
    }
  }
  .advants__post {
  }
}

#brands {
  margin-bottom: 45px;
  .heading {
    background: #f1f1f7;
    display: inline-block;
    margin: 0;
    padding: 20px;
  }
  .brands__list {
    background: #f1f1f7;
    padding: 30px 75px;

    .item {
      float: left;
      width: 300px;
      height: 100px;
      padding: 0 20px;
      @include flexbox();
      align-items: center;
      justify-content: center;
    }
  }
}

.news-slider {
  margin-bottom: 45px;
  &__list {
    padding: 0 75px;
    margin-bottom: 25px;
    .item {
      .photo {
        float: left;
        width: 200px;
        margin: 0 25px 20px 0;
      }
      .title {
        margin-bottom: 5px;
        > a {
          display: block;
          text-decoration: none;
          color: $second-color;
          font-size: 20px;
          font-weight: bold;
        }
      }
      .meta {
        font-size: 16px;
        margin-bottom: 5px;
      }
      .short {
        font-size: 16px;
        margin-bottom: 30px;
      }
      .more {
        text-align: right;
        .btn {
          font-size: 16px;
        }
      }
    }
  }
  &__bottom {
    padding-top: 40px;
    border-top: 1px solid #f1f1f7;
    .btn {
      background: #f2f0ee;
      border: none;
      font-size: 16px;
      font-weight: 300;
      color: $text-color;
      &:hover {
        background: darken(#f2f0ee, 5%);
      }
    }
  }
}

.testimonials {
  background: #f1f1f7;
  padding: 40px 0;
  margin: 0 0 40px 0;

  &__list {
    padding: 0 75px 45px 75px;
    .item {
      font-size: 16px;
      .title {
        font-size: 20px;
        font-weight: bold;
        color: $second-color;
        margin-bottom: 30px;
        span {
          display: inline-block;
          background: $second-color;
          color: #fff;
          padding: 3px 5px;
          border-radius: 0 8px 8px 0;
          margin: 0 20px 0 0;
          font-size: 16px;
          width: 40px;
          text-align: center;
        }
      }
      .meta {
        a {
          color: $second-color;
          font-weight: 300;
          margin-right: 50px;
        }
      }
      .short {
        margin-bottom: 20px;
      }
    }
  }
  &__bottom {
    text-align: center;
    padding: 0 75px;
    .btn {
      font-size: 20px;
    }
  }
  &__button-next {
    float: left;
    color: $text-color;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    span {
      display: inline-block;
      border-bottom: 1px dashed $text-color;
    }
    > i {
      margin-left: 10px;
      font-size: 14px;
      font-weight: 300;
    }
    &:hover {
      text-decoration: none;
      color: $text-color;
      > span {
        border-bottom: none;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  #advants {
    .advants__list {
      .item {
        width: 25%;
        &:last-of-type {
          display: none;
        }
        > a {
          height: 255px;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  #advants {
    .advants__list {
      .item {
        width: 50%;
        > a {
          height: 220px;
        }
      }
    }
  }
  .testimonials {
    &__bottom {
      padding: 0 25px;
      .btn {
        font-size: 16px;
      }
    }
    &__button-next {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 767px) {
  #sl {
    display: none;
    + #catalog {
      margin-top: 20px;
    }
  }
  #advants {
    .advants__list {
      .item {
        width: 100%;
        > a {
          height: auto;
        }
        &:last-of-type {
          display: block;
        }
      }
    }
  }
  #brands {
    .brands__list {
      padding: 10px 0px;
    }
    .slick-arrow {
      display: none !important;
    }
  }
  .news-slider {
    margin-bottom: 45px;
    &__list {
      padding: 0;
      .item {
        .photo {
          float: none;
          text-align: center;
          width: 100%;
          margin: 0 0 20px 0;
        }
        .title {
          > a {
            font-size: 18px;
          }
        }
        .meta {
          font-size: 14px;
        }
        .short {
          font-size: 14px;
        }
        .more {
          .btn {
            font-size: 14px;
          }
        }
      }
    }
    &__bottom {
      text-align: center;
      .btn {
        font-size: 14px;
      }
    }
    .slick-arrow {
      display: none !important;
    }
  }
  .testimonials {
    &__list {
      padding: 30px 0;
      .item {
        .title {
          font-size: 18px;
          span {
            margin-right: 10px;
          }
        }
      }
    }
    &__button-next {
      display: none;
    }
    .slick-arrow {
      display: none !important;
    }
  }
}
@media screen and (max-width: 480px) {
  #sl {
    display: none;
    + #catalog {
      margin-top: 20px;
    }
  }
  .testimonials {
    &__bottom {
      .btn {
        font-size: 14px;
        white-space: normal;
      }
    }
  }
}