.modal-form {
  .modal-dialog {
    width: 96%;
    max-width: 850px;
    margin: 5% auto 50px auto;
    border-radius: 0px;
    .modal-content {
      border: 1px solid #d4d4d4;
      border-radius: 4px;
      @include boxshadow(-1px 1px 5px 0px rgba(0,0,0,0.3));
      background: #fcfcfc;
      position: relative;
      padding: 0;

      .modal-header {
        font-size: 24px;
        font-weight: bold;
        line-height: 1.1;
        color: $text-color;
        border: none;
        padding: 0;
        margin: 10px 0;
        position: relative;
      }
      .modal-body {
        padding: 0;
      }
    }
    .alert-success {
      font-size: 20px;
      background: none;
      border: none;
      margin: 0;
      color: $text-color;
    }
    .buttons {
      text-align: center;
      padding: 20px 0;
      .btn {
        font-size: 21px;
        font-weight: bold;
        background: #e5e5e5;
        padding: 5px 10px;
        display: inline-block;
        color: $text-color;
        border-radius: 0;
      }
    }
  }
  &#modal_callback {
    .panel-sport__heading {
      text-align: center;
      font-size: 21px;
    }
    .form-callback {
      .col-sm-7, .col-sm-5 {
        padding-right: 0;
      }
      .form-control {
        @extend %form-control;
        font-size: 18px;
        padding: 6px 5px;
        height: 46px;
      }
      .btn {
        background: #fff;
        display: block;
        width: 100%;
        height: 46px;
        max-width: 180px;
        padding: 5px 10px;
        border: 1px solid $second-color;
        border-radius: 4px;
        font-size: 18px;
        color: $second-color;
        &:hover, &:focus {
          background: darken(#fff, 5%);
        }
      }
    }
  }
  &#modal_quickby {
    .panel-sport__heading {
      text-align: center;
      font-size: 25px;
      margin-bottom: 30px;
    }
    .product-info {
      border-bottom: 1px solid #e5e5e5;
      margin-bottom: 15px;
      padding-bottom: 15px;
      .product-info__heading {
        font-weight: bold;
        font-size: 16px;
        line-height: 1;
        margin-bottom: 5px;
      }
      .col-name {
        margin-bottom: 15px;
        .product-info__heading {
          margin-bottom: 20px;
          font-size: 18px;
        }
        a {
          font-size: 16px;
          font-weight: bold;
          color: $second-color;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .col-options {
        border-left: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
        min-height: 150px;
      }
      .col-price {
        border-right: none;
        text-align: center;
        .item__input-counter {
          margin-bottom: 30px;
        }
      }
    }

    .bot {
      text-align: center;
      font-weight: 300;
      font-size: 16px;
      padding: 0 20px;
    }
  }
}
@media screen and (max-width: 768px) {
  .modal-form {
    .modal-dialog {
      .modal-content {

        .modal-header {
          font-size: 18px;
        }
      }
      .alert-success {
        font-size: 16px;
      }
      .buttons {
        .btn {
          font-size: 16px;
        }
      }
    }
    &#modal_callback {
      .panel-sport__heading {
        font-size: 16px;
      }
      .form-callback {
        .col-sm-7, .col-sm-5 {
          padding-right: 15px;
        }
        .form-control {
          font-size: 14px;
          padding: 8px 5px;
          height: 40px;
        }
        .btn {
          height: 40px;
          padding: 7px 10px;
          font-size: 14px;
        }
      }
    }
    &#modal_quickby {
      .panel-sport__heading {
        font-size: 18px;
      }
      .product-info {
        .col-name {
          .product-info__heading {
            font-size: 16px;
          }
          a {
            font-size: 14px;
          }
        }
      }

      .bot {
        font-size: 14px;
      }
    }
  }
}