.panel-pager {
  margin: 0;
  border-top: 1px solid #e5e5e5;
  padding: 15px 0 0 0;
  margin-bottom: 15px;
  text-align: center;
  .col-pagination {

    .pagination {
      margin: 0;
      padding: 0;
      > a {
        vertical-align: top;
        color: #757579;
        display: inline-block;
        width: 55px;
        height: 55px;
        border: 1px solid #757579;
        border-radius: 3px;
        text-align: center;
        padding-top: 14px;
        font: bold 24px/1 $font-bold;
        position: relative;
        margin: 0 7px 0 0;
        &:hover {
          color: #000;
          border-color: #000;
          text-decoration: none;
        }
        &.active {
          color: $second-color;
          border-color: $second-color;
          text-decoration: none;
          cursor: default;
        }
        &.page-next {
          width: auto;
          border-color: $second-color;
          color: $second-color;
          padding: 0px 5px;
          &:hover {
            color: darken($second-color, 5%);
          }
        }
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
    .page-next {
      color: #010101;
      margin-left: 15px;
      &:hover {
        color: #1779e2;
        text-decoration: none;
      }
    }
    .inf {
      margin-right: 15px;
    }
    .btn-primary {
      color: $second-color;
      background: #fff;
      text-transform: uppercase;
      font-size: 24px;
      padding: 8px 15px;
      &:hover {
        color: #fff;
        background: $second-color;
      }
    }
  }
  .btn-show-load {
    display: block;
    width: 100%;
    border: 2px solid $primary-color;
    color: $primary-color;
    text-transform: uppercase;
    font: bold 24px/1 $font-bold;
    padding: 1px 10px;
    height: 30px;
    background: #fff;
    &:hover {
      background: darken(#fff, 3%);
    }
  }
  .show-count, .sorting {
    color: #757579;
    font-size: 20px;
    text-align: right;
    a {
      color: $text-color;
      border-bottom: 1px dotted $text-color;
      text-decoration: none;

      &:hover {
        color: $primary-color;
        border-color: $primary-color;
      }
      &.active {
        color: $primary-color;
        border-color: $primary-color;
      }
    }
    span {
      color: $text-color;
      margin: 0 5px;
      &:first-of-type {
        color: #757579;
        margin-right: 10px;
      }
    }
  }
  .col-show-count {
    padding-right: 0;
  }
  .col-sorting {
    padding-left: 0;
    padding-right: 0;
    .sorting {
      text-align: left;
      span {
        margin: 0 3px;
      }
    }
  }

  .pager-navigation {
    margin-bottom: 15px;
    a {
      color: $text-color;
      font-size: 18px;
      font-weight: bold;
      margin: 0 20px;
      display: inline-block;
      &:hover {
        color: $second-color;
        text-decoration: none;
      }
    }
  }
}

.products {
  .panel-pager {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1380px) {
  .panel-pager {
    .col-pagination {
      margin-bottom: 15px;

      .pagination {
        > a {
          width: 32px;
          height: 32px;
          font-size: 18px;
          padding-top: 7px;
        }
      }
      .btn-primary {
        font-size: 18px;
      }
    }
    .btn-show-load {
      font-size: 18px;
    }
    .show-count, .sorting {
      font-size: 16px;
    }

    .pager-navigation {
      a {
        font-size: 16px;
      }
    }
  }
}