.product-single {
  @include flexbox();
  &__body {
    @include flex(1 1 100%);
    max-width: 100%;
    .product-list__item {
      margin-bottom: 20px;
      .item__wrap {
        min-height: 220px;
        &:hover {
          border-color: #e5e5e5;
        }
        .item__panel {
          display: none;
        }
      }
    }
  }
  &__price {
    @include flex(1 0 250px);
    margin-left: -1px;
    .item__panel {
    }
    .item__panel__inner {
      background: #f8f7f7;
      text-align: center;
      padding-top: 15px;
      position: relative;
      border: 1px solid #e5e5e5;
      min-height: 220px;
      .item__price {
        padding-left: 0;
        margin-bottom: 15px;
        > span {
          font-size: 12px;
          font-weight: 300;
          display: inline-block;
          &.new {
            font-weight: bold;
            font-size: 40px;
            line-height: 1;
            margin: 0 5px 0 5px;
            position: relative;
            bottom: -3px;
          }
          &.old {
            text-decoration: line-through;
          }
        }
      }
      .item__buttons {
        margin-bottom: 15px;
        .btn {
          width: 60px;
          height: 38px;
          border: none;
          color: #fff;
          text-align: center;
          padding: 0;
          margin: 0 10px;
          &-quick-buy {
            background: #676767;
            padding: 4px 5px 2px 5px;
            &:hover {
              background: $second-color;
            }
          }
          &-add-to-cart {
            background: $second-color;
            padding: 5px 5px 2px 5px;
            &:hover {
              background: darken($second-color, 5%);
            }
          }
        }
      }
      .item__input-counter {
        color: #010101;
        font-size: 16px;
        margin: 0 0 15px 0;
        text-align: center;
        .btn {
          padding: 0;
          font-size: 16px;
          font-weight: bold;
          line-height: 36px;
          border-radius: 0;
          width: 40px;
          height: 36px;
          text-align: center;
          border: none;
          background: #e9e9eb;
          &:hover {
            background: darken(#e9e9eb, 5%);
          }
        }
        .input-group-text {
          display: inline-block;
          .form-control {
            background: #fff;
            font-size: 16px;
            font-weight: bold;
            padding: 0;
            display: inline-block;
            width: 52px;
            height: 36px;
            margin: 0 -3px;
            border-radius: 0;
            border: none;
            text-align: center;
            &:disabled {
              cursor: default;
            }
          }
        }
      }

      .item__delivary {
        padding: 10px 0;
        border-top: 1px solid #e5e5e5;
        p {
          margin: 0 0 5px 0;
        }
      }

    }
    .panel__advants {
      background: #fff;
      text-align: left;
      .advants__item {
        border-bottom: 1px solid #e5e5e5;
        padding: 10px 0;
        font-size: 13px;
        line-height: 1.1;
        font-weight: bold;
        @include flexbox();
        align-items: center;

        a {
          font-weight: bold;
          text-decoration: none !important;
          border-bottom: 1px dotted transparent;
          &:hover {
            border-color: transparent;
          }
        }
        p {
          margin: 0;
          @include flex(1 0 100px);
        }
        > span {
          display: inline-block;
          width: 37px;
          height: 24px;
          line-height: 18px;
          padding: 3px 2px 0 2px;
          margin: 0 8px 0 0;
          color: #fff;
          text-align: center;
          border-radius: 0 10px 10px 0;
        }
        &--orange {
          color: $second-color;
          a {
            color: $second-color;
            border-color: $second-color;
          }
          > span {
            background: $second-color;
          }
        }
        &--red {
          color: #da2222;
          a {
            color: #da2222;
            border-color: #da2222;
          }
          > span {
            background: #da2222;
          }
        }
        &--green {
          color: $primary-color;
          a {
            color: $primary-color;
            border-color: $primary-color;
          }
          > span {
            background: $primary-color;
          }
        }
      }
    }
  }
  .product-info-tabs {
    margin: 0 20px 80px 0;
    .nav-tabs {
      border: none;
      margin: 0 0 20px 0;
      padding: 0;
      > li {
        display: inline-block;
        > a {
          border: none;
          border-right: 1px solid #989898;
          border-radius: 0;
          background: #e1e0e0;
          font: bold 20px/1 $font-bold;
          color: $text-color;
          padding: 15px 25px;
          margin: 0 0 -1px 0;
          display: block;
          &:hover {
            color: $second-color;
            text-decoration: none;
            span {
              border-bottom: 1px dashed #1779e2;
            }
          }
        }
        &:last-child {
          > a {
            border-right: none;
          }
        }
        &.active {
          > a {
            color: $text-color;
            background: #f8f7f7;
            border-bottom-color: #fff;
            &:hover {
              background: #fff;
            }
          }
        }
      }
    }
    .tab-content {
      background: #fff;
      padding: 20px;
    }
  }
  .user-activity {
    margin: 0 20px 80px 0;
    .nav-tabs {
      list-style: none;
      margin: 0 0 40px 0;
      padding: 0;
      border: none;

      li {
        display: inline-block;
        margin-right: 45px;
        border: none;
        padding: 0;
        &:last-child {
          margin-right: 0;
        }
        a {
          color: #898989;
          font: bold 24px/1 $font-bold;
          border: none;
          background: none;
          padding: 0 0 5px 0;
          border-bottom: 2px dotted transparent;
          > span {
            color: #898989;
          }
          &:hover {
            color: $text-color;

          }
        }
        &.active {
          a {
            color: $text-color;
            text-decoration: none;
            border-color: $text-color;
          }
        }
      }
    }
  }

  .product-reviews {
    margin-bottom: 40px;
    .reviews-list {
      margin: 0 0 20px 0;
      > article {
        font-size: 18px;
        margin-bottom: 25px;
        .top {
          .name {
            font-weight: bold;
          }
          .rate {
            float: right;
            @extend %rates;
          }
        }
      }
    }
    .panel-pager {
      background: none;
      text-align: left;
      .col-pagination {
        padding-left: 0;
      }
      .col-button {
        padding-right: 0;
        .btn {
          color: $second-color;
          font: bold 24px/1 $font-bold;
          width: 240px;
          height: 55px;
          text-transform: uppercase;
          padding: 2px 10px;
          background: #fff;
          border: 1px solid $second-color;
          float: right;
          &:hover {
            background: darken(#fff, 5%);
            border-color: darken($second-color, 5%);
          }
        }
      }
    }
  }
  .item__image {
    @include flex(0 0 590px);
    .image__preview {
      width: 450px;
      height: 380px;
      min-height: 380px;
      img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
      }
    }
    .imgs-list {
      width: 135px;
      .item {
        height: 100px;
        margin: 5px 0;
        a {
          height: 100px;
        }
      }
      &.slick-slider {
        padding: 30px 0;
        .slick-arrow {
          border: 1px solid #ccc;
          border-radius: 50%;
          width: 27px;
          height: 27px;
          display: inline-block;
          color: #ccc;
          padding: 3px 0 0;
          text-align: center;
          &:hover {
            border-color: $text-color;
            color: $text-color;
          }
        }
      }
    }
  }
}

.product-complect {
  max-width: $container-width;
  margin-bottom: 40px;
  .heading {
    font-size: 24px;
  }
  .catalog__list {
    .catalog__item {
      margin: 0 0 0 -1px;
    }
    &.slick-slider {
      padding: 0 100px;
      .slick-list {
        border-right: 1px solid #e5e5e5;
        border-left: 1px solid #e5e5e5;
      }
    }
  }
}

@media screen and (max-width: 1380px) {
  .product-single {
    .product-info-tabs {
      .nav-tabs {
        > li {
          > a {
            font-size: 15px;
            padding: 15px 10px;
          }
        }
      }
    }
    .user-activity {
      .nav-tabs {
        li {
          a {
            font-size: 18px;
          }
        }
      }
    }
    .product-reviews {
      .reviews-list {
        > article {
          font-size: 15px;
        }
      }
      .panel-pager {
        .col-button {
          .btn {
            font-size: 16px;
            height: 34px;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 1170px) {
  .product-single {
    display: block;

    &__price {
      display: none;
    }

    &__body {
      .product__item {
        .item__wrap {
          flex-wrap: wrap;
          border: none;
          .item__image {
            border: 1px solid #e5e5e5;
          }
          .item__info {
            margin-right: 0;
          }
          .item__panel {
            display: block;
            width: 100%;
            border: 1px solid #e5e5e5;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 992px) {
  .product-single {
    &__body {
      .product__item {
        .item__wrap {
          .item__image {
            @include flex(0 0 380px);
            align-self: flex-start;
            .image__preview {
              width: 310px;
              height: 220px;
              min-height: 220px;
            }
          }
        }
      }
    }

    .product-info-tabs {
      margin: 0 0 40px 0;

      .nav-tabs {
        > li {
          width: 50%;
          > a {
            border: 1px solid #989898 !important;
            font-size: 15px;
            padding: 15px 10px;
            margin: -1px 0 0 -1px;
            height: 46px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }
      .tab-content {
        padding: 10px;
      }
    }
    .user-activity {
      margin: 0 0 40px 0;
      .nav-tabs {
        margin-bottom: 10px;
        li {
          margin-bottom: 15px;
        }
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .product-single {
    display: block;

    &__price {
      display: none;
    }

    &__body {
      .product__item {
        .item__wrap {
          flex-wrap: wrap;
          width: 100%;
          .item__info {
            order: 1;
            margin: 0;
            padding: 0 0 10px 0;
            width: 100%;
            min-width: 100%;
            display: block;
          }
          #product-gallery {
            order: 2;
            width: 100%;
            max-width: 320px;
            @include flex(0 0 100%);
            .imgs-list {
              float: right;
              margin-right: 5px;
            }
            .image__preview {
              float: none;
              width: auto;
              display: block;
              margin: 0 70px 0 0;
              height: 180px;
              min-height: 180px;
            }
          }
          .item__panel {
            order: 3;
            width: 100%;
            min-width: 100%;
            border-top: 1px solid #e5e5e5;
            padding: 10px 0;
            > div {
              max-width: 220px;
              &.item__delivary {
                display: none;
              }
            }
          }
        }
      }
    }
    .user-activity {
      .product-reviews .panel-pager .col-button {
        margin: 0;
        padding: 10px 0;
        text-align: center;
        .btn {
          float: none;
          margin: 0 auto;
        }
      }
    }
  }
  .product-complect {
    .heading {
      font-size: 18px;
    }
    .catalog__list {
      &.slick-slider {
        padding: 0 50px;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .product-complect {
    .catalog__list {
      &.slick-slider {
        padding: 0;
      }
      .slick-arrow {
        display: none !important;
      }
    }
  }
}