.product-grid {
  &__item {
    width: 260px;
    height: 485px;
    margin: -1px 0 0 -1px;
    float: left;
    .item__wrap {
      min-height: 485px;
      padding: 30px 10px 10px;
      text-align: center;
    }

    a {
      &:hover {
        text-decoration: none;
        .item__name {
          color: $second-color;
        }
      }
    }
    .item__image {
      height: 160px;
      @include flexbox();
      align-items: center;
      justify-content: center;
      margin-bottom: 15px;
      position: relative;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
    .item__name {
      height: 58px;
      overflow: hidden;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.2;
      margin-bottom: 5px;
      color: $text-color;
    }
    .item__product-options {
      display: none;
      animation: anim .2s ease-in-out;
      opacity: 0;
      border-top: 1px solid #e5e5e5;
      padding: 15px 0px 10px 0;
      margin: 0 10px;
      .prop {
        .name {
          text-align: center;
        }
      }
    }
    &:hover {
      border-color: transparent;
      .item__wrap {
        border-color: $text-color;
        z-index: 100;
      }
      .item__product-options {
        display: block;
        opacity: 1;
      }
      .item__preview {
        opacity: 1;
        visibility: visible;
        bottom: 20px;
      }
    }
  }

  .item__preview {
    background: none;
    border: 1px solid $text-color;
    display: block;
    color: $text-color;
    position: absolute;
    top: auto;
    bottom: 10px;
    right: auto;
    left: auto;
    width: 200px;
    height: 32px;
    transition: .3s;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    &:hover {
      color: $second-color;
    }
  }
}

.product-list {
  &__item {
    margin-bottom: 10px;
    .item__wrap {
      overflow: inherit !important;
      @include flexbox();
      align-items: stretch;
      justify-content: space-between;
    }
    .item__image {
      position: relative;
      width: 255px;
      padding-top: 40px;
      padding-bottom: 5px;
      @include flex(0 0 255px);
      &--nopadding {
        padding: 10px 0;
      }
      .image__preview {
        float: left;
        margin-right: 5px;
        width: 180px;
        height: 140px;
        min-height: 140px;
        text-align: center;
        position: relative;
        background: center center no-repeat;
        > a {
          height: 100% !important;
        }
        > iframe {
          width: 100%;
          height: 140px;
        }
        img {
          height: auto;
          width: auto;
          display: inline-block;
          margin: 0 auto;
          max-height: 140px;
        }
        &.image__preview--loading {
          background: url(../images/ajax-loader.gif) no-repeat center center;
        }
        &.image__preview--init {
          img {
            display: inline-block;
          }
        }
        .MagicZoomPlusHint {
          display: block !important;
        }
      }
      .imgs-list {
        width: 60px;
        overflow: hidden;
        float: right;
        .item {
          height: 56px;
          margin-bottom: 1px;
          border-radius: 1px;
          border: 1px solid transparent;
          a {
            display: block;
            height: 54px;
            @include flexbox();
            align-items: center;
            justify-content: center;
          }

          &.current, &:hover {
            border-color: #dedcdc;
          }
        }
        &.slick-slider {
          padding: 16px 0;
          .item {
            margin-bottom: 0px;
            text-align: center;
            overflow: hidden;
            img {
              display: inline-block;
              max-width: 100%;
              max-height: 100%;
              width: auto;
              height: auto;
            }
          }
          .slick-arrow {
            position: absolute;
            cursor: pointer;
            top: auto;
            left: 50%;
            right: auto;
            width: 18px;
            height: 18px;
            margin: 0 0 0 -8px;
            font-size: 18px;
            line-height: 1;
            color: $text-color;
            text-align: center;

            &.slick-prev {
              top: 0;
            }
            &.slick-next {
              bottom: 0;
            }
            &:hover {
              color: $second-color;
            }
          }
        }
      }
    }
    .item__info {
      margin: 0 25px;
      @include flex(1 0 240px);
      .item__name {
        margin: 5px 0 10px;
        font-size: 18px;
        font-weight: bold;
        color: $second-color;
        > a {
          font-size: 18px;
          font-weight: bold;
          color: $second-color;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .item__rate {
        margin-bottom: 10px;
      }
    }

    .item__counter {
      margin: 0 0 10px 0;
      b {
        display: inline-block;
        margin: 0 10px 0 0;
      }
    }

    .item__panel {
      width: 250px;
      min-width: 150px;
      background: #f8f7f7;
      border-left: 1px solid #e5e5e5;
      text-align: center;
      padding-top: 25px;
      position: relative;
      .item__price {
        margin-bottom: 15px;
      }
      .item__input-counter {
        margin-bottom: 10px;
      }
      .item__buttons {
        margin-bottom: 10px;
      }
      .item__delivary {
        padding: 10px 0;
        border-top: 1px solid #e5e5e5;
        p {
          margin: 0 0 5px 0;
        }
      }
    }
    &:hover {
      .item__wrap {
        border-color: $text-color;
      }
    }
  }
}

.product__item {
  .item__wrap {
    background: #fff;
    position: relative;
    border: 1px solid #e5e5e5;
    overflow: hidden;
    @include transition(all 0.3s ease 0s);
    z-index: 50;
  }
  .item__stick {
    position: absolute;
    top: 8px;
    left: 0;
    text-align: center;
    font-size: 14px;
    line-height: 1.1;
    font-weight: bold;
    color: #da2222;
    background: #fff;
    z-index: 100;
    > div {
      display: block;
      margin: 0 0 5px 0;
      position: relative;
      border: 1px solid #e5e5e5;
      border-radius: 0 4px 4px 0;
      padding: 5px 10px 5px 45px;
      min-width: 110px;
      height: 25px;
    }
    .num {
      color: #fff;
      background: #da2222;
      border-radius: 0 12px 12px 0;
      height: 25px;
      width: 35px;
      padding: 5px;
      position: absolute;
      left: -1px;
      top: -1px;
    }
    &-sale {
      text-transform: uppercase;
      color: #da2222;
      .num {
        background: #da2222;
      }
    }
    &-hit {
      color: $primary-color;
      .num {
        background: $primary-color;
      }
    }
    &-profit {
      color: $text-color;
      b {
        color: #da2222;
      }

      .num {
        background: $text-color;
        color: #da2222;
      }
    }
  }
  .item__black-friday {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
    background: url(../images/icon_black-friday.png) no-repeat 0 0;
    width: 47px;
    height: 47px;
  }
  .item__price {
    padding-left: 0;
    margin-bottom: 5px;
    > span {
      font-size: 12px;
      font-weight: 300;
      display: inline-block;
      &.new {
        font-weight: bold;
        font-size: 40px;
        line-height: 1;
        margin: 0 5px 0 5px;
        position: relative;
        bottom: -3px;
      }
      &.old {
        text-decoration: line-through;
      }
    }
  }
  .item__rate {
    margin: 0 0 20px 0;
    @extend %rates;
  }
  .item__buttons {
    margin-bottom: 17px;
    .btn {
      width: 60px;
      height: 38px;
      border: none;
      color: #fff;
      text-align: center;
      padding: 0;
      margin: 0 10px 5px 10px;
      &-quick-buy {
        background: #676767;
        padding: 4px 5px 2px 5px;
        &:hover {
          background: $second-color;
        }
      }
      &-add-to-cart {
        background: $second-color;
        padding: 5px 5px 2px 5px;
        &:hover {
          background: darken($second-color, 5%);
        }
      }
    }
  }
  .item__input-counter {
    color: #010101;
    font-size: 16px;
    margin: 0 0 30px 0;
    text-align: center;
    .btn {
      padding: 0;
      font-size: 16px;
      font-weight: bold;
      line-height: 36px;
      border-radius: 0;
      width: 40px;
      height: 36px;
      text-align: center;
      border: none;
      background: #e9e9eb;
      &:hover {
        background: darken(#e9e9eb, 5%);
      }
    }
    .input-group-text {
      display: inline-block;
      .form-control {
        background: #fff;
        font-size: 16px;
        font-weight: bold;
        padding: 0;
        display: inline-block;
        width: 52px;
        height: 36px;
        margin: 0 -3px;
        border-radius: 0;
        border: none;
        text-align: center;
        &:disabled {
          cursor: default;
        }
      }
    }
  }
  .item__timer {
    position: absolute;
    top: 4px;
    right: 5px;
    width: 95px;
    padding: 10px 0 0 0;
    text-align: right;
    > i {
      display: inline-block;
      margin-right: 5px;
      font-size: 15px;
      vertical-align: top;
    }
    > .soon {
      display: inline-block;
      padding: 0;
      font: bold 13px/1 $font-bold;
      color: $text-color;
      margin: 0;
      text-align: right;
      .soon-group-inner {
        margin: 0px;
        .soon-group {
          &:first-of-type {
            margin-right: 0px;
          }
          &:first-of-type[data-value="0"] {
            display: none;
            ~ .soon-group {
              color: #b0140c;
            }
          }
          .soon-value {
            font-size: 16px;
            margin: 0;
            .soon-text {
              margin-top: -9px;
              width: 0.5em;
              min-width: 0.4em;
            }
          }
          .soon-label {
            margin: -9px 1px 0 1px;
            min-width: 2px;
            text-align: center;
          }
          .soon-separator {
            margin: 5px 0 0 0px;
            min-width: 0.2em;
            font-weight: bold;
          }
        }
      }
    }
  }

  .item__product-options {
    padding-top: 5px;
    .prop {
      font: bold 15px/1 $font-bold;
      margin: 0 0 10px 0;
      .name {
        display: block;
        margin: 0 0 10px 0;
      }
      .values {
        .value {
          float: left;
          margin: 0 5px 5px 0;
          @include transition(all 0.3s ease 0s);
          cursor: pointer;
          > span {
            display: block;
            padding: 3px 5px;
            border-radius: 2px;
            border: 1px solid #e5e5e5;
          }
          > img {
            border-radius: 2px;
            border: 1px solid #e5e5e5;
          }
          &.active {
            cursor: default;
            > span, > img {
              border: 1px solid $second-color;
            }
          }
          &:hover {
            opacity: 0.7;
            > span, > img {
              border-color: darken(#e5e5e5, 15%);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1680px) {

  .product-list {
    &__item {
      .item__panel {
        .checksum {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .product-grid {
    text-align: center;
    &__item {
      display: inline-block;
      width: 260px;
      height: 470px;
      margin: 5px;
      float: none;
    }
  }
  .product__item {
    .item__buttons {
      .btn {
        margin: 0 5px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .product-grid {
    display: flex;
    flex-wrap: wrap;
    &__item {
      vertical-align: top;
      height: auto;
      flex: 1 1 260px;
      .item {
        &__wrap {
          height: auto;
          min-height: 100%;
        }
        &__product-options {
          display: block;
          opacity: 1
        }
      }
    }
  }
  .product-list {
    .item__wrap {
      flex-wrap: wrap;
    }
    &__item {
      .item__panel {
        width: 100%;
        min-width: 100%;
        border-top: 1px solid #e5e5e5;
        border-left: none;
      }
    }
  }
}


@media screen and (max-width: 480px) {

}