#sidebar {
  aside {
  }
  .widget {
    margin-bottom: 40px;
    &-catalog {
      ul {
        list-style: none;
        margin: 0 0 20px 0;
        padding: 0;
        li {
          a {
            font-size: 16px;
            color: $second-color;
            display: block;
            &:hover {
              text-decoration: underline;
            }
          }
          &.widget-catalog__title {
            > a {
              font-weight: bold;
              font-size: 20px;
            }
          }
          &.active {
            > a {
              font-weight: bold;
              text-decoration: underline;
            }
          }
        }
      }
    }
    &-catalog-shop {
      ul {
        margin: 0;
        li {
          a {
            color: $text-color;
            font-weight: bold;
          }
          &.active {
            > a {
              color: $second-color;
            }
          }
        }
      }
    }
    &-delivary {
      &__inner {
        background: #f8f6f6;
        position: relative;
        padding: 75px 15px 10px 15px;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        &:before {
          content: '';
          display: block;
          position: absolute;
          top: -15px;
          left: 50%;
          margin-left: -53px;
          background: url(../images/icon_delivary.png) no-repeat 0 0;
          width: 106px;
          height: 78px;
        }
        b {
          display: block;
          color: $second-color;
          font-size: 18px;
        }
      }
    }

    &-filters {
      background: #f8f6f7;
      border-radius: 4px;
      padding: 10px;
      .filter__top {
        font-size: 20px;
        font-weight: bold;
        border-bottom: 1px solid #d8d8d8;
        color: $second-color;
        margin: 0 0 10px 0;
        padding: 0;
      }
      .filter__list {
        list-style: none;
        margin: 0;
        padding: 0 0 0 30px;
        > li {
          a {
            font-size: 16px;
            font-weight: bold;
            color: $text-color;
            &:hover {
              color: $second-color;
              text-decoration: underline;
            }
          }
          &.filter__active {
            a {
              color: $second-color;
            }
          }
        }
      }
      .widget-filters__item {
        margin-bottom: 20px;
        &.filter__discont {
          > .btn {
            display: block;
            background: #eaeaea;
            color: $text-color;
            border: 1px solid #c0bebe;
            border-radius: 4px;
            font-size: 16px;
            font-weight: bold;
            max-width: 260px;
            &:hover, &:focus {
              background: darken(#eaeaea, 5%);
              color: $second-color;
            }
            &.filter__active {
              color: $second-color;
            }
          }
        }
      }
      .widget-catalog {
        position: relative;
        margin-bottom: 30px;
        &:after {
          content: "";
          display: block;
          margin: 30px 20px 0 20px;
          border-bottom: 1px solid #d0d0d0;
        }
      }
    }

    .list-hidden {
      display: none;
      &.list-open {
        display: block;
      }
    }
    .link-show-more {
      padding: 5px 0 0px 0;
      > a {
        display: inline-block;
        font-size: 14px;
        color: #7e7e7e;
        font-weight: normal;
        text-decoration: none;
        border-bottom: 1px dashed #e3e1e2;
        i {
          margin-left: 6px;
        }
        &:hover {
          border-color: $second-color;
          text-decoration: none;
          color: $second-color;
        }
      }
      &:not(.collapsed) {
       > a {
         i {
           transform: rotate(180deg);
         }
       }
      }
    }
  }
  .link-propose {
    margin-bottom: 20px;
    .btn {
      background: #e5e5e5;
      border: 1px solid #c0bebe;
      border-radius: 4px;
      color: $text-color;
      font-weight: bold;
      font-size: 22px;
      padding: 5px;
      display: block;
      max-width: 280px;
      &:hover {
        background: darken(#e5e5e5, 5%);
      }
    }
  }

  .filter-slider {
    margin: 0 0 35px 0;
    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 0 20px 0;
      span {
        font-size: 16px;
        font-weight: bold;
        color: $text-color;
      }
      a {
        font-size: 13px;
        color: $second-color;
        display: inline-block;

        &:hover {
          text-decoration: underline;
        }
      }
    }
    .slider-inputs {
      @include flexbox();
      align-items: center;
      margin-bottom: 15px;
      justify-content: center;
      .form-control {
        color: $text-color;
        width: 75px;
        height: 22px;
        padding: 5px;
        font-weight: bold;
        &:focus {
          border-color: $second-color;
        }
      }
      span {
        margin: 0 5px;
      }
      .btn {
        margin: 0 0 0 10px;
        width: 30px;
        border-radius: 3px;
        padding: 3px;
        font-size: 13px;
        height: 30px;
        background: $second-color;
        border: 1px solid $second-color;
        &:hover {
          background: lighten($second-color, 5%);
        }
      }
    }
    .noUi-target {
      border: none;
      box-shadow: none;
      background: #bbbbbb;
      height: 2px;
    }
    .noUi-horizontal {
      height: 2px;
      margin: 0 20px 25px 20px;
      .noUi-handle {
        width: 11px;
        height: 11px;
        left: -5px;
        top: -5px;
        background: $second-color;
        border: 1px solid #f8f6f7;
        box-shadow: none;
        cursor: pointer;
        outline: none !important;
        border-radius: 50%;
        &:before, &:after {
          display: none;
        }
        &.noUi-active {
          width: 18px;
          height: 18px;
          top: -7px;
        }
      }
    }
    .noUi-connect {
      background: $second-color;
      box-shadow: none;
      height: 2px;
    }
    .btn-range {
      margin: 35px auto 0 auto;
      width: 190px;
      height: 36px;
      background: $second-color;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      border: 1px solid #c0bebf;
      display: block;
      transition: .3s;
      span {
        font-weight: 300;
      }
      &:hover {
        background: darken($second-color, 5%);
      }
    }
  }
}

@media screen and (max-width: 767px) {
  #sidebar {
    .widget {
      &-catalog {
        ul {
          li {
            a {
              font-size: 14px;
            }
            &.widget-catalog__title {
              > a {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
    .link-propose {
      .btn {
        font-size: 16px;
        white-space: normal;
      }
    }
  }
}