#sidebar {
  aside {
  }
  .widget {
    margin-bottom: 40px;
    &-catalog {
      ul {
        list-style: none;
        margin: 0 0 20px 0;
        padding: 0;
        li {
          a {
            font-size: 16px;
            color: $second-color;
            display: block;
            &:hover {
              text-decoration: underline;
            }
          }
          &.widget-catalog__title {
            > a {
              font-weight: bold;
              font-size: 20px;
            }
          }
          &.active {
            > a {
              font-weight: bold;
              text-decoration: underline;
            }
          }
        }
      }
    }
    &-catalog-shop {
      ul {
        margin: 0;
        li {
          a {
            color: $text-color;
            font-weight: bold;
          }
          &.active {
            > a {
              color: $second-color;
            }
          }
        }
      }
    }
    &-delivary {
      &__inner {
        background: #f8f6f6;
        position: relative;
        padding: 75px 15px 10px 15px;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        &:before {
          content: '';
          display: block;
          position: absolute;
          top: -15px;
          left: 50%;
          margin-left: -53px;
          background: url(../images/icon_delivary.png) no-repeat 0 0;
          width: 106px;
          height: 78px;
        }
        b {
          display: block;
          color: $second-color;
          font-size: 18px;
        }
      }
    }

    &-filters {
      background: #eaeaea;
      border-radius: 4px;
      padding: 10px;
      .filter__top {
        font-size: 20px;
        font-weight: bold;
        border-bottom: 1px solid #d8d8d8;
        color: $second-color;
        margin: 0 0 10px 0;
        padding: 0;
      }
      .filter__list {
        list-style: none;
        margin: 0;
        padding: 0 0 0 30px;
        > li {
          a {
            font-size: 16px;
            font-weight: bold;
            color: $text-color;
            &:hover {
              color: $second-color;
              text-decoration: underline;
            }
          }
          &.filter__active {
            a {
              color: $second-color;
            }
          }
        }
      }
      .widget-filters__item {
        margin-bottom: 20px;
        &.filter__discont {
          > .btn {
            display: block;
            background: #eaeaea;
            color: $text-color;
            border: 1px solid #c0bebe;
            border-radius: 4px;
            font-size: 16px;
            font-weight: bold;
            max-width: 260px;
            &:hover, &:focus {
              background: darken(#eaeaea, 5%);
              color: $second-color;
            }
            &.filter__active {
              color: $second-color;
            }
          }
        }
      }
    }

    .list-hidden {
      display: none;
      &.list-open {
        display: block;
      }
    }
    .link-show-more {
      padding: 5px 0 0px 0;
      > a {
        display: inline-block;
        font-size: 14px;
        color: #7e7e7e;
        font-weight: normal;
        text-decoration: none;
        border-bottom: 1px dotted #7e7e7e;
        i {
          margin-left: 6px;
        }
        &:hover {
          border-color: transparent;
          text-decoration: none;
        }
      }
      &:not(.collapsed) {
       > a {
         i {
           transform: rotate(180deg);
         }
       }
      }
    }
  }
  .link-propose {
    margin-bottom: 20px;
    .btn {
      background: #e5e5e5;
      border: 1px solid #c0bebe;
      border-radius: 4px;
      color: $text-color;
      font-weight: bold;
      font-size: 22px;
      padding: 5px;
      display: block;
      max-width: 280px;
      &:hover {
        background: darken(#e5e5e5, 5%);
      }
    }
  }
}

@media screen and (max-width: 767px) {
  #sidebar {
    .widget {
      &-catalog {
        ul {
          li {
            a {
              font-size: 14px;
            }
            &.widget-catalog__title {
              > a {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
    .link-propose {
      .btn {
        font-size: 16px;
        white-space: normal;
      }
    }
  }
}