div.bx-system-auth-form span.bx-auth-secure {
	background-color: #FFFAE3;
	border: 1px solid #DEDBC8;
	padding: 2px;
	display: inline-block;
	vertical-align: bottom;
	margin-top: -1px;
}

div.bx-system-auth-form div.bx-auth-secure-icon {
	background-image: url(images/sec.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 19px;
	height: 18px;
}

div.bx-system-auth-form div.bx-auth-secure-unlock {
	background-image: url(images/sec-unlocked.png);
}

@media ( max-width : 767px) {
	#auth_review input[type="text"] {
		margin-bottom: 15px;
	}
	#auth_review .form-group {
		margin: 0 auto;
		width: 230px;
		display: block;
	}
	#auth_review input[type="submit"] {
		margin: 0 auto;
		display: block;
	}
	#auth_review .checkbox {
		margin: 20px auto 0 auto;
		width: 110px;
	}
}

@media ( min-width : 767px) {
	#auth_review .form-group {
		display: inline-block;
	}
	#auth_review {
		
	}
	#auth_review .checkbox {
		margin-top: 15px;
	}
}

#auth_review {
	text-align: left;
}

#auth_review input[type="text"], #auth_review input[type="password"] {
	width: 230px;
	color: #303030;
	font-size: 12px;
	font-family: "ProximaNovaLight", Arial, sans-serif;
	border: 1px solid #e2e5e9;
	padding: 10px;
}

#auth_review input[type="text"] {
	margin-right: 20px;
}

#auth_review .form-group {
	
}

#auth_review .form-group p {
	text-align: left;
	color: #6c727d;
	font-size: 12px;
	font-family: "ProximaNovaLight", Arial, sans-serif;
	margin-bottom: 3px;
}

#auth_review .form-group a {
	line-height: 10px;
	float: right;
	color: #6c727d;
	font-size: 12px;
	font-family: "ProximaNovaLight", Arial, sans-serif;
	text-decoration: none;
	border-bottom: 1px solid #dadbdd;
}

#auth_review .checkbox {
	text-align: left;
	line-height: 13px;
}

#auth_review .checkbox input[type="checkbox"] {
	margin-right: 10px;
	float: left;
}

#auth_review .checkbox label {
	color: #303030;
	font-size: 12px;
	font-family: "ProximaNovaLight", Arial, sans-serif;
	clear: both;
}

#auth_review input[type="submit"] {
	background: #FFF;
	color: #767676;
	font-size: 14px;
	font-family: "ProximaNovaLight", Arial, sans-serif;
	width: 170px;
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
	border: 1px solid #c8c8c8;
	box-shadow: 1px 2px 2px 1px #dedede;
	margin-top: 15px;
}

#auth_review input[type="checkbox"] {
	display: none;
}

#auth_review input[type="checkbox"] ~ label>span {
	border: 1px solid #b8b8b8;
	display: inline-block;
	height: 10px;
	margin: 0 7px 0 0;
	position: relative;
	width: 10px;
}

#auth_review input[type="checkbox"]  ~ label>span:after {
	position: absolute;
	content: "\f00c";
	color: #303030;
	font-family: FontAwesome;
	font-size: 8px;
	line-height: 8px;
	display:none;
}
#auth_review input[type="checkbox"]  ~ label.checked > span:after {
	display:block;
}

#auth_review .bx-authform-social {
	width: 100%;
}

#auth_review .bx-authform-social .bx-authform-social {
	display: inline-block;
}

#auth_review .bx-authform-social ul {
	margin: 0 auto;
	display: table;
	width: auto;
}

#auth_review .bx-auth-lbl {
	color: #6c727d;
	font-family: "ProximaNovaLight", Arial, sans-serif;
	font-size: 12px;
	margin: 0 0 15px 0;
	text-align: center;
	position: relative;
	overflow: hidden;
}

#auth_review .bx-auth-lbl .soc-text {
	display: inline-block;
}

#auth_review .bx-auth-lbl .soc-text:before, #auth_review .bx-auth-lbl .soc-text:after
	{
	content: '';
	position: absolute;
	width: 100%;
	border-top: 1px solid #e2e5e9;
	margin-top: .6em;
}

#auth_review .bx-auth-lbl .soc-text:before {
	margin-left: -102%;
}

#auth_review .bx-auth-lbl .soc-text:after {
	margin-left: 2%;
}

#auth_review .socserv {
	margin: 70px 0 25px 0;
	width: 100%;

	/*width:140px;*/
	/*margin-top:30px;*/
}

#auth_review .socserv .bx-auth-serv-icons i {
	margin: 0 5px 5px 0;
}