div.modern-page-navigation, 
.orion-isp-fixed
{ padding: 0.5em 0;}
div.modern-page-navigation a, .orion-isp-fixed a, 
span.modern-page-current, 
span.modern-page-dots
{
	border-left-width: 1px;
	border-left-style: solid;
	padding-left: 0.75em;
	padding-right: 0.5em;
	text-decoration: none;
}
a.modern-page-previous
 { 
	border-right-width: 1px; 
	border-right-style: solid; 
	border-left: none; }
a.modern-page-first, 
span.modern-page-first { 
	border-left: none; 
	padding-left: 0.5em; }
span.modern-page-current { 
	font-weight: bold; }
div.modern-page-navigation a, .orion-isp-fixed a,
span.modern-page-current, 
a.modern-page-previous, 
span.modern-page-dots { 
	border-color: #cdcdcd; }
	
	
.orion-isp-ajax-wait{
	height: 30px;
	background: url(images/ajax-loader.gif) center 0 no-repeat;
}
.orion-isp-fixed{
position: fixed; 
top: 0px; 
/*margin-left: 250px;*/
z-index: 9999;
display: none;
}
.orion-isp-fixed .bg{
position: absolute;
background: url(images/1_07px.png); 
width: 625px; height: 31px;
box-shadow: 1px 1px 5px #AAA;
border-radius: 3px;
}
.orion-isp-fixed .txt{
padding: 5px 10px;
position: relative;
opacity: 1;
color: white;
}
.orion-isp-fixed a, 
.orion-isp-fixed a:visited{
color: #ccc;
-webkit-transition: color 200ms linear;
-moz-transition: color 200ms linear;
-o-transition: color 200ms linear;
transition: color 200ms linear;
}
.orion-isp-fixed a:hover{color: white;}	
.orion-isp-btn{
	display: block;
	width: 250px;
	margin: 2px auto;	
	padding: 3px 10px;
	background-color: whiteSmoke;
	background-image: -webkit-gradient(linear,left top,left bottom,from(whiteSmoke),to(#F1F1F1));
	background-image: -webkit-linear-gradient(top,whiteSmoke,#F1F1F1);
	background-image: linear-gradient(top,whiteSmoke,#F1F1F1);
	border: 1px solid gainsboro;
	
	border-radius: 2px;	
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
  
	text-align: center;
	text-decoration: none;
	color: #444;
}