.clear {clear: both;}

.webmechanic_yandexmarket {
    position: relative;    
}

.webmechanic_yandexmarket .more_feedback {
    position: absolute;
    font-size: 13px;
    color: #4c7ed4;
    right: 0px;
    top: 5px;
}
.webmechanic_yandexmarket .more_feedback:hover {color: #8cb4f8}
.webmechanic_yandexmarket .more_feedback:active {color: #955bcb}

.webmechanic_yandexmarket > div {
    position: relative;    
    padding-left: 30px;
    padding-right: 30px;    
    margin: auto;
    font-family: 'Open Sans', sans-serif;    
}

.webmechanic_yandexmarket .feedback_slider {
    /*width: 919px;*/ /*«начение по-умолчанию, регулируетс€ jQuery при загрузке*/       
    position: relative;
    overflow: hidden;    
    border: 5px solid #fff;
    border-radius: 5px;   
    background: #fff;
}

.webmechanic_yandexmarket .feedback_slider ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0px 0px 0px 0px!important;
    padding: 0px 0px 0px 0px!important;
}

.webmechanic_yandexmarket .feedback_slider li {
    float: left;
    width: 919px; /*«начение по-умолчанию, регулируетс€ jQuery при загрузке*/   
    background-color: #fff;
    position: relative;    
    text-indent: 0px!important;
    margin: 0px 0px 0px 0px!important;
}

.webmechanic_yandexmarket .feedback_slider li::before,
.webmechanic_yandexmarket .feedback_slider li::after{
    content: none!important;
}

.webmechanic_yandexmarket .arrow_left {
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -25px;
    width: 21px;
    height: 51px;
    display: inline-block;
    text-indent: -99999px;
    background: url(images/arrows.png) left top no-repeat;
}

.webmechanic_yandexmarket .arrow_left:hover {background: url(images/arrows.png) left bottom no-repeat;}

.webmechanic_yandexmarket .arrow_right {
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -25px;
    width: 21px;
    height: 51px;
    display: inline-block;
    text-indent: -99999px;
    background: url(images/arrows.png) right top no-repeat;
}

.webmechanic_yandexmarket .arrow_right:hover {background: url(images/arrows.png) right bottom no-repeat;}

.webmechanic_yandexmarket .feedback_item {    
    display: block;
    margin: 7px 0 0 9px;    
}

.webmechanic_yandexmarket .feedback_item .head {
    display: block;    
    height: 32px;
    background-color: #f6f5f3;    
    margin-bottom: 15px;
    border-radius: 2px;
}

.webmechanic_yandexmarket .feedback_item .head .user__image {
    background: url(images/ya_user.png) 0 0 no-repeat;
    width: 32px;
    height: 32px;
    border-right: 1px solid #fff;
    display: inline-block;
    vertical-align: middle;
    line-height: 32px;
}

.webmechanic_yandexmarket .feedback_item .head .user_name {
    font-size: 15px;
    margin: 0 10px;
    display: inline-block;
    vertical-align: middle;
    line-height: 32px;
}

.webmechanic_yandexmarket .feedback_item .head .user_name:first-letter {
    color: #f00;
}

.webmechanic_yandexmarket .feedback_item .head .count {
    color: #999;
    display: inline-block;
    line-height: 32px;
    vertical-align: middle;
    margin: 0 0 -2px;
    font-size: 13px;
}

.webmechanic_yandexmarket .feedback_item .head .from {
    float: right;
    line-height: 32px;
    color: #999;
    margin-right: 10px;
    font-size: 12px;
}

.webmechanic_yandexmarket .feedback_item .grey_text {
   color: #999;   
}

.webmechanic_yandexmarket .feedback_item .review__rate {
    margin-bottom: 10px;
}

.webmechanic_yandexmarket .feedback_item .review__rate span {
    float: left;
}

.webmechanic_yandexmarket .feedback_item .review__rate .rating__item {
    background-position: -49px -15px;
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    background: url(images/ya_stars.png) -49px -15px no-repeat;
    margin-right: 1px;
}

.webmechanic_yandexmarket .feedback_item .review__rate .rating__text {
    float: left;  
    font-size: 12px;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    margin-top: 3px;
}

.webmechanic_yandexmarket .feedback_item .review__rate .review__delivery {
    float: right;
    margin-right: 10px;
    margin-bottom: 0;    
    font-size: 12px;
}

.webmechanic_yandexmarket .feedback_item .review__verdict {
    margin: 15px 20px 10px 0;
    float: left;
    font-size: 13px;
}

.webmechanic_yandexmarket .feedback_item .userverdict {
    margin-bottom: 8px;
}

.webmechanic_yandexmarket .feedback_item .userverdict__title {
    font-weight: bold;
    display: inline-block;
}

.webmechanic_yandexmarket .feedback_item .userverdict__text {
    display: inline-block;
    line-height: 18px;
    max-width: 100%;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    text-align: justify;
}

.webmechanic_yandexmarket .feedback_item .review__footer {
    margin: 0 0 10px 0;
    float: left;
    font-size: 12px;
}

.webmechanic_yandexmarket .feedback_item .review__footer .b-link {
    text-decoration: none;display: inline-block;
}

.webmechanic_yandexmarket .feedback_item .review__footer .b-link__inner {
    color: #1a3dc1;
    vertical-align: middle;
    text-decoration: none;
    font-size: 13px;
}

.webmechanic_yandexmarket .feedback_item .review__footer .review__answer_short {
    color: #979797;

    width: 70%;
    padding-left: 10px;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    overflow: hidden;
}

.webmechanic_yandexmarket .feedback_item .review__footer .review__fade {
    background: url(images/fadeout.png) repeat-y;
    width: 40px;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}

.webmechanic_yandexmarket .error {
    font-weight: bold;
    color: red;
}