.clr{
    clear: both;
}




.h2o_component{
    min-height: 100%;
    padding: 0px;
    position: relative;
    display: inline-block;
    color: #4d4c4c;
    /*font-family: 'Open Sans';*/
	font-family: 'Tahoma';
}
.h2o_component{
    /*width: 600px!important;*/
    min-height: 100%;
    padding: 0px;
    position: relative;
    display: inline-block;
    color: #4d4c4c;
}
.h2o_component .modal-header {
    min-height: 16.42857143px;
    padding: 0px 0px 15px;
    border: none;
    font-size: 30px;
}
.h2o_component .modal-body{
	position: relative;
    padding: 30px;
    font-size: 18px;
}
.h2o_component .modal-body p{
	
}
.h2o_component .form-row{
	max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin: 10px 0;
}
.h2o_component .form-row:after {
    content: "";
    display: table;
    clear: both;
}
.h2o_component .form-row:first-child {
    margin-top: 0; 
}
.h2o_component .form-cell-3 {
    float: left;
    display: block;
    margin-right: 2%;
    width: 30%;
}
.h2o_component .form-cell-3:last-child {
    margin-right: 0; 
}
.h2o_component .form-cell-9 {
    float: left;
    display: block;
    margin-right: 2%;
    width: 68%;
}
.h2o_component .form-cell-9:last-child {
    margin-right: 0; 
}
.h2o_component label{
	font-weight: normal;
	font-size: 18px;
 	
}
.h2o_component input[type=text]{
	height: 32px;
}
.h2o_component input[type=text].error{
	box-shadow: 0 0 0 1px red;
}
.h2o_component textarea{
	height: 112px;
}
.h2o_component input[type=text], .h2o_component textarea{
	width: 100%;
	border: 1px #b7b7b7 solid;
  	padding: 0px 5px;
  	transition: all .25s;
 	-webkit-transition: all .25s;
    -o-transition: all .25s;
}
.h2o_component .button_wrap{
	text-align: right;
}
.h2o_component .item_current_price {
	font-size: 30px;
	color: #6fc7d0;
}
.h2o_component button{
	width: 131px;
	/*height: 36px;*/
	padding-bottom: 4px;
	text-align: center;
	font-size: 24px;
	border: none;
	background: #48a7bb;
	background: linear-gradient(to top, #48a7bb, #84dce1);
	color: #fff;
	transition: all .25s;
 	-webkit-transition: all .25s;
    -o-transition: all .25s;
    float: right;
}
.h2o_component button:hover {
    opacity: 0.6;
}
.h2o_component small.error{
	color: red;
}
@media screen and (min-width: 600px){
	.h2o_component{
		width: 600px;
	}
}
@media screen and (max-width: 600px){
	.h2o_component .form-cell-3{
		float: none!important;
		width: 100%!important;
	}
	.h2o_component .form-cell-6:nth-child(2n){
		float: none!important;
		text-align: left!important;
	}
	.h2o_component .form-cell-9{
		float: none!important;
		width: 100%!important;
	}
	.h2o_component .modal-header{
		font-size: 25px!important;
	}
}
.h2o_component .transparent_input {
    border: none!important;
    background: none;
    color: #000;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
    width: 60px!important;
    text-align: center!important;
}
.h2o_component .bx_small.bx_bt_button_type_2:hover, .h2o_component .bx_small.bx_bt_button_type_2:focus {
	text-decoration: none;
}
.h2o_component .form-cell-6{
	display: inline-block;
	text-align: left;
 	width: 50%;
    padding: 0;
    margin: 0;
    float: left;
}






.h2o_component input[type="radio"] {
    display:none;            
}
 
.h2o_component input[type="radio"] + label {
  font: 18px bold;
  font-family: 'Open Sans';
  color: #444;
  cursor: pointer;
}

.h2o_component input[type="radio"] + label::before {
    content: "";
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 0 5px 0 0;
    background-image: url(images/radio_b1c.png);
    background-repeat: no-repeat;
}
.h2o_component input[type="radio"] + label::before {
    background-position: 0px 0px;
}
.h2o_component input[type="radio"] + label:hover::before {
    background-position: -16px 0px;
}
.h2o_component input[type="radio"]:checked + label::before {
    background-position: -33px 0px;
}
.h2o_component .offers_list{
	padding: 0;
}
.h2o_component .offers_list li{
	list-style: none;
}
.h2o_component .button_set_quantity{
    display: inline-block;
    min-width: 20px;
    line-height: 20px;
    border: 1px solid #e9e9e9;
    background: #fcfcfc;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod?EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#f1f1f1));
    background: -webkit-linear-gradient(top, #fcfcfc 0%,#f1f1f1 100%);
    background: -moz-linear-gradient(top, #fcfcfc 0%,#f1f1f1 100%);
    background: -ms-linear-gradient(top, #fcfcfc 0%,#f1f1f1 100%);
    background: -o-linear-gradient(top, #fcfcfc 0%,#f1f1f1 100%);
    background: linear-gradient(to bottom, #fcfcfc 0%,#f1f1f1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f1f1f1',GradientType=0 );
    color: #656565;
    text-shadow: 0 1px 0 #fff;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    vertical-align: middle;
}

.modal_title {
font-size: 18px;
}
/*span.modal_title {
	display: none;
}*/