.icon {
  display: inline-block;
  text-indent: -9999em;
  background: url(../images/sprite.png) no-repeat;

  &-user {
    background-position: -66px -2px;
    width: 28px;
    height: 27px;
  }
  &-cart-orange {
    background-position: -97px -1px;
    width: 29px;
    height: 28px;
  }
  &-cart-white {
    background-position: -197px 0;
    width: 26px;
    height: 25px;
  }
  &-hand {
    background-position: -58px -136px;
    width: 23px;
    height: 28px;
  }
  &-prev {
    background-position: -227px -1px;
    width: 14px;
    height: 22px;
  }
  &-next {
    background-position: -244px -1px;
    width: 14px;
    height: 22px;
  }
  &-prev-dark {
    background-position: -270px -1px;
    width: 14px;
    height: 22px;
  }
  &-next-dark {
    background-position: -285px -1px;
    width: 14px;
    height: 22px;
  }
  &-eye {
    background-position: -166px -2px;
    width: 27px;
    height: 14px;
  }
  &-gotop {
    background-position: -169px -23px;
    width: 22px;
    height: 11px;
  }
  &-arrow-down {
    background-position: 0 -145px;
    width: 22px;
    height: 11px;
  }
  &-rubl {
    background-position: -3px -166px;
    width: 16px;
    height: 16px;
  }
  &-car {
    background-position: 0 -186px;
    width: 22px;
    height: 16px;
  }
  &-car-orange {
    background-position: -211px -147px;
    width: 38px;
    height: 28px;
  }
  &-bonus {
    background-position: -258px -147px;
    width: 30px;
    height: 29px;
  }
  &-manufacture {
    background-position: 0 -208px;
    width: 18px;
    height: 18px;
  }
}