$container-width: 1300px;

$background-color: #fff;

$primary-color: #458909;
$second-color: #ef8701;
$text-color: #222222;
$border-color: #e5e5e5;
$color-inactive: #8c8c8c;

$font: 'Roboto', sans-serif;
$font-bold: 'Roboto', sans-serif;